* {
  box-sizing: border-box;
  padding: 0;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 1280px;
  height: 720px;
  background: url(./img/pexels-timo-volz-1842332.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.container::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background-image: linear-gradient(299deg, #021624, #00050a 0%, #011021);
}

.avt {
  width: 254px;
  height: 254px;
  margin: 0 auto;
  position: absolute;
  left: 513px;
  border-radius: 127px;
  box-shadow: 10px 10px 20px 0 #001629, -10px -10px 20px 0 #254466;
  background-image: linear-gradient(321deg, #084a7a 100%, #011021 9%);
  top: 40px;
  background: url(./img/rectangle.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.oval {
  width: 240px;
  height: 240px;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  left: 3.5px;
  top: 5px;
}

.imgfade {
  width: 192px;
  height: 192px;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  left: 31px;
  top: 30.5px;
  opacity: 0.8;
  border-width: 3px;
  border-image-source: linear-gradient(217deg, #ffa703 75%, #cc570e);
  border-image-slice: 1;
  border-radius: 100%;
}

.text {
  width: 836px;
  margin: 0 auto;
  font-family: SF UI Text Medium;
  font-size: 50px;
  font-weight: 500;
  height: 40px;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.8;
  letter-spacing: normal;
  color: #ffffff;
  text-align: center;
  position: absolute;
  top: 334px;
  left: 222.5px;
}

.text2 {
  width: 401.5px;
  height: 40px;
  font-family: SF UI Text Light;
  font-size: 35px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  text-align: center;
  color: #ff8800;
  position: absolute;
  top: 374px;
  left: 439.5px;
}

.footer {
  width: 644.5px;
  height: 232.5px;
  position: absolute;
  bottom: 0px;
  left: 318px;
}

.rectangle2 {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-style: solid;
  border-width: 1px;
  border-image-source: linear-gradient(to right, #007aff 0%, #ffffff 52%, #ff8800 100%);
  border-image-slice: 1;
  background-image: linear-gradient(290deg, #031d38, #032954), linear-gradient(to right, #007aff 0%, #ffffff 52%, #ff8800 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  border-radius: 52.8px 52.8px 0px 0px;
  /* background: url(./img/rectangle.svg); */
  opacity: 0.5;
  overflow: hidden;
}

.left {
  width: 70px;
  height: 70px;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  left: 10px;
  top: 82px;
}

.right {
  width: 70px;
  height: 70px;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  right: 10px;
  top: 82px;
}

.banner {
  width: 463px;
  height: 174px;
  position: absolute;
  left: 90px;
  top: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}

.group7 {
  height: 21px;
  width: 154.5px;
  position: absolute;
  bottom: 6px;
  left: 260px;
}

.rectangle3 {
  position: absolute;
  bottom: 39px;
  left: 90px;
  width: 220px;
  height: 80px;
}

.textinner {
  width: 220px;
  height: 80px;
  position: absolute;
  bottom: 45px;
  left: 100px;
}

.textinner h3 {
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #042f5f;
  font-family: SF UI Text Medium;
  -webkit-margin-after: 3px;
          margin-block-end: 3px;
}

.dividerLine {
  width: 195px;
  height: 1px;
  background: #042f5f;
}

.textinner p {
  font-family: SFProText;
  font-size: 20px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  font-family: SF UI Text Light;
  margin-bottom: -10px;
  -webkit-margin-before: 3px;
          margin-block-start: 3px;
}
/*# sourceMappingURL=index.css.map */
